* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #070120;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__content {
  /* border: solid 1px orange; */
  padding: 30px 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__content nav {
  /* border: solid 1px #070120; */
  display: flex;
  align-items: center;
}
.text__content {
  margin-right: 20px;
}
.text__content a {
  /* border: solid 1px red; */
  padding: 0 10px;
  font-weight: 600;
  font-size: 15px;
}

a span {
  display: inline-block;
  transition: all 0.5s;
}
a:hover {
  color: #f55f8d;
}
a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* .header__content li a {
  text-decoration: none;
  color: #070120;
  font-size: 15px;
  font-weight: 600;
}

.header__content li {
  padding: 55px 15px;
  list-style: none;
  display: inline;
  position: relative;
  bottom: 0;
  transition: bottom 0.2s;
}

.header__content li:hover {
  bottom: 5px;
} */

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.2;
}

.btn-gradient:hover {
  background-position: right center;
}

.saCarousel {
  padding-top: 180px;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.saCarousel__content {
  display: flex;
  align-items: center;
}

.saCarousel__left {
  /* border: solid 1px red; */
  width: 50%;
  display: block;
  margin-left: 250px;
  padding: 50px;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin: 20px 0;
}
.saCarousel__article p {
  /* margin-bottom: 20px; */
}

.saCarousel__article li {
  list-style: none;
  padding: 20px 5px 10px 0;
  font-size: 20px;
}

.saCarousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

.saCarousel__content button {
  margin-top: 20px;
  transition: all;
}
.saCarousel__right {
  /* border: solid 1px red; */

  width: 40%;
}

.services {
  padding-top: 115px;
  padding-bottom: 0;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: top center;
  text-align: center;
}
.services__container {
  max-width: 1199px;
  margin: auto;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  text-align: center;
}

.services__item {
  /* border: solid 1px orange; */

  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services__item img {
  width: 215px;
}

.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

.services__item p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.services__item:hover {
  transform: translateY(-20px);
}
