* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 2;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1199px;
  margin: auto;
}

.header__content {
  /* border: solid 1px orange; */
  padding: 35px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content nav {
  /* border: solid 1px #070120; */
  display: flex;
  align-items: center;
}
.text__content {
  margin-right: 20px;
}
.text__content a {
  /* border: solid 1px red; */
  padding: 0 10px;
  font-weight: 600;
  font-size: 15px;
}

a span {
  display: inline-block;
  transition: all 0.5s;
}
a:hover {
  color: #f55f8d;
}
a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(70%);
  }
  50% {
    opacity: 0;
    transform: translateY(-70%);
  }
  51% {
    opacity: 1;
  }
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.2;
}

.btn-gradient:hover {
  background-position: right center;
}

.saCarousel {
  padding-top: 180px;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.saCarousel__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saCarousel__left {
  /* border: solid 1px red; */
  width: 60%;
  display: block;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin: 20px 0;
}
.saCarousel__article p {
  /* margin-bottom: 20px; */
  font-size: 18px;
}
.saCarousel__article ul {
  /* border: solid 1px orange; */
  margin-top: 10px;
  margin-bottom: 20px;
}

.saCarousel__article li {
  /* border: solid 1px rgb(111, 0, 255); */
  list-style: none;
  padding: 10px 5px 10px 0px;
  font-size: 20px;
}

.saCarousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

.saCarousel__right {
  /* border: solid 1px red; */
  width: 40%;
}

.saCarousel__banner {
  width: 570px;
  margin-left: 50px;
}
.saCarousel__banner img {
  max-width: 100%;
}

.services {
  padding-top: 115px;
  padding-bottom: 0;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: top center;
  text-align: center;
}
.services__container {
  max-width: 1199px;
  margin: auto;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  text-align: center;
}

.services__item {
  /* border: solid 1px orange; */

  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services__item img {
  width: 215px;
}

.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

.services__item p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.services__item:hover {
  transform: translateY(-20px);
}

.aboutUs {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  padding-top: 115px;
}

.aboutUs__container {
  max-width: 1199px;
  margin: auto;
}

.aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutUs__right {
  width: 50%;
}

.aboutUs__right p {
  margin-bottom: 15px;
}

.aboutUs__right ul {
  margin-bottom: 30px;
}

.aboutUs__right li {
  list-style: none;
}

.aboutUs__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.number__item {
  width: 25%;
}
.number__item i {
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 700;
  color: #f55f8d;
  line-height: 1;
}

.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}

.features__content {
  display: flex;
}

.features__left,
.features__right {
  width: 50%;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.features__bg::after {
  content: '';
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.features__bg:hover::after {
  opacity: 1;
}

.features__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.features__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}

.features__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__bg:hover div,
.features__bg:hover h3,
.features__bg:hover i {
  color: #fff;
}
.features__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.features__banner {
  margin-right: -80px;
}

.features__banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio__item::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
}

.portfolio__icon a {
  cursor: pointer;
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio__text p {
  color: #fff;
  opacity: 0.7;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__item1 {
  grid-column: 1 / span 2;
}

.portfolio__item5 {
  grid-column: 1 / span 2;
}

.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
